Nalwald*
!Nalwald.nim
!Nalwald.nims
perf.data*
callgrind.out.*
profile_results.txt
.vscode
.metals
massif.out
*.profraw
*.profdata
*.log
*.epd
*.epd.backup
*.fen
!parameterOptimization/quietSetZuri.epd
!parameterOptimization/quietSetNalwald.epd
!parameterOptimization/quietSetCombinedCCRL4040.epd
!parameterOptimization/quietSmallNalwaldCCRL4040.epd
!parameterOptimization/quietSmallCCRL404FRC.epd
!parameterOptimization/quietSmallPoolGamesNalwald.epd
!parameterOptimization/quietSetNalwald2.epd
!parameterOptimization/quietSmallLichessGamesSet.epd
!parameterOptimization/blitzTesting-4moves-openings.epd
optimization
*.txt
*.sh
vgcore.*
*ptimizationResult*
game
removeNonQuietPositions
generatePositions
labelPositions
generateSmallerSet
calculatePieceValue
mergeDuplicateAndSelectFENs
processStuff.nim
mergeDuplicateAndSelect
*.pgn
lichessBot
lichessBot2
playLichessGame
game_directory*
testtest
lockFile_historyOfGameResults*
!runLichessBot.sh
config.json